*{
    margin: 0 auto;
    padding: 0;
}

p, h1, h2, h3{
    text-align: center;
}
.cor1{
    background-color: aqua;
}
.cor2{
    background-color: rgb(244, 245, 195);
}

.cor3{
    background-color: chartreuse;
}
*{
    text-align: center;
    
}


